.blog-wraper{
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 55px;
    flex-wrap: wrap;
}

.blog-wraper-second{
    display: flex;
    flex-direction: column;
    gap: 35px;
}