.portfolio-card{
    border-radius: 8px;
    width: 575px;
    height: 258px;
    display: flex;
    
}

.portfolio-card img{
    border-radius: 10px 0 0 10px;
    max-width: 192px;
    height: 100%;
}

.portfolio-card .content{
    border-radius: 0 10px 10px 0;
    width: 384px;
    height: 100%;
    background-color: var(--background-card);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio-card .title{
    color: var(--text);
    font-size: 24px;
    font-weight: bold;
    line-clamp: 2;
}

.portfolio-card .description{
    color: var(--text);
    line-clamp: 4;
}

.portfolio-card .icon{
    display: flex;
}


/* blog card */

/* big card */
.big-blog-card{
    max-width: 800px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
}

.big-blog-card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.big-blog-card .content{
    background-color: var(--background-card);
    height: 50%;
    width: 100%;
    padding: 33px;
    border-radius: 0 0 10px 10px;
}

.big-blog-card .content h3{
    color: var(--text);
    font-size: 50px;
    font-weight: bold;
}

.big-blog-card .content p{
    color: var(--text-dark);
    font-size: 33px;
}


/* regular card */

.blog-card{
    max-width: 375px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
}

.blog-card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.blog-card .content{
    background-color: var(--background-card);
    height: 50%;
    width: 100%;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.blog-card .content h3{
    color: var(--text);
    font-size: 24px;
    font-weight: bold;
}

.blog-card .content p{
    color: var(--text-dark);
    font-size: 16px;
}

