:root {
    --blue: #1A56DB;
    --white: #fff;
    --background: #1E1E1E;
    --background-card: #1F2A37;
    --text: #fff;
    --text-dark: #9CA3AF;

    --extra-bold: 600;

    --primary-color: #000;
    --secondary-color: #C6D2ED;
    --accent-color : #AEA3B0;
    --secondary-accent-color:#111;
    
    --text-blur:#666;
}