nav {
    background-color: var(--white);
}

nav .top {
    padding: 24px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .top h1 {
    color: var(--secondary-accent-color);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter';
}

nav .top .menu {
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    gap: 32px;
}

nav .top .nav-button {
    border: none;
    background-color: transparent;
    color: var(--text-blury);
    display: none;
}

.menu .text a{
    color: var(--text-blur);
    font-family: 'Inter';
}

nav .mobile-menu {
    display: none;
    font-size: medium;
    text-align: center;
    padding: 0 4rem 1rem ;
}

.mobile-menu .text a{
    font-family: 'Inter';
    color: var(--text-blur);
}


@media (max-width: 1000px) {
    nav .top .menu {
        display: none;
    }

    nav .top .nav-button {
        display: block;
        color: var(--text-blur);
    }

    nav .mobile-menu {
        display: none;
        margin: 1px;
        border-radius: 10px;
    }

    nav .mobile-menu li {
        margin-top: 1rem;
    }

    nav .top{
        padding: 0.5rem 1rem;
    }
}
