.portfolio-wraper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 2rem;
}

.portofolio{
    padding-bottom: 145px;
}

