.resume{
    justify-content: space-between;
    gap: 170px;
    align-items: start;
    padding-top: 55px;
    padding-bottom: 55px;
}

.resume p{
    margin-top: 1rem;
    text-align: justify;
    text-indent: 2rem;
}