.technology .list-tech{
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
    /* overflow-x: scroll;
    scroll-snap-type: mandatory; */
}

.item-tech p{
    color: var(--text);
    text-align: center;
}

