<div class="portfolio-item">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/personal-f62b0.appspot.com/o/projects%2Fmuarambaduk-20.jpg?alt=media&amp;token=ae830864-dec2-463b-aa09-80a933dffbe2"
    alt=""
  />
  <div class="content">
    <h3 class="title line-clamp-2">Muarambaduk</h3>
    <div class="date">
      <p><span>1 Mar 2023</span> - <span>current</span></p>
    </div>
    <p class="description line-clamp-3">
      I have had the opportunity to work on the development and design of a web
      and mobile application for Wisata Muarambaduk, a tourism destination. This
      application aimed to provide visitors with an interactive and informative
      experience. My responsibilities included implementing various features,
      such as ticket purchasing and camping equipment rental, to enhance the
      user journey. I ensured that the application included comprehensive
      information about Muarambaduk's tourist attractions, facilities, and
      locations, allowing visitors to plan their trips effectively. By enabling
      online ticket purchases and convenient equipment rentals, I contributed to
      streamlining the visitor experience and improving the efficiency of these
      processes. The ultimate goal of the project was to offer a more
      comfortable and practical travel experience for all users.
    </p>
    <ul class="technology">
      <li class="tech-item">laravel</li>
      <li class="tech-item">php</li>
      <li class="tech-item">htlm</li>
      <li class="tech-item">css</li>
      <li class="tech-item">tailwind</li>
      <li class="tech-item">javascript</li>
    </ul>
  </div>
</div>
